This notebook will be mainly used for Capstone project for IBM Data science

In [2]:
import numpy as np
import pandas as pd

In [3]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

# Part 1 of the project

In [2]:
import pandas as pd
import numpy as np

Importing the table from the website

In [3]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [12]:
master = df[0].copy()

Removing not assigned in Borough column

In [44]:
master_cleasned = master[master['Borough'] != 'Not assigned']

In [59]:
master_cleasned = master_cleasned.reset_index()
master_cleasned.rename({'Postal Code':'PostalCode'},axis=1,inplace=True)

Resetting index

In [60]:

master_cleasned.drop('index',1,inplace=True)
master_cleasned

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

Testing duplicates

In [63]:
sum(master_cleasned['PostalCode'].value_counts() > 1)

0

In [64]:
master_cleasned.shape

(103, 3)

In [68]:
master_cleasned[master_cleasned['Borough']== 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []